html,
body {
  height: 100%;
}

body.padfix {
	padding-top: 70px;
}

body.hero {
	background-image: url("../img/home-hero.jpg");
	background-size: cover;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.big-title {
	font-size: 8em;
}

/* Inverted panel */
.panel-invert {
  border-color: #E7E7E7;
}
.panel-invert > .panel-heading {
  color: #555;
  background-color: #E7E7E7;
  border-color: #E7E7E7;
}
.panel-invert > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #E7E7E7;
}
.panel-invert > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #E7E7E7;
}

.product.panel > .panel-heading {
	font-size: 24pt;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }
}